services:
    web:
        build: backend
        ports:
            - "3000:3000"
        env_file:
            - backend/.env
        depends_on:
            - cache
    
    cache:
        image: redis:7
        ports:
            - "6379:6379"
        volumes:
            - redis_data:/data

volumes:
    redis_data: