[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "dotenv>=0.9.9",
    "fastapi>=0.118.3",
    "httpx>=0.28.1",
    "pandas>=2.3.3",
    "uvicorn>=0.37.0",
]
